table{
    table-layout: fixed;
    td, th{
      overflow: hidden;
      white-space: nowrap;
      -moz-text-overflow: ellipsis;        
         -ms-text-overflow: ellipsis;
          -o-text-overflow: ellipsis;
             text-overflow: ellipsis;
    }
  }